[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.8"

[packages]
typing-extensions = "*"

[packages.apache-airflow]
extras = [ "celery", "ssh", "postgres", "redis", "crypto",]
